.background-image-color-home {
  background-color:#6f4e37;
}
#homeimage {
  margin: auto;
  display: block;
  text-align:right;
  width: 65vw;
}
#welcomeheading {
  width: 95vw;
  font-size:45px;
  text-align: center;
  color:lightsalmon;
}
.home_page_description {
  color: lightsalmon;
  font-size: 1.2em;
  text-align: center;
}
#rollover_home {
  text-align: center;
}
#drinksimagehome {
  width: 40vw;
}
#foodimagehome {
  width: 40vw;
}
